<footer id="footer-area" class="footer-three">
  <!-- Start Footer Top Area -->
  <div class="footer-top-area pt-50 pt-xs-40 pb-38 pb-xs-18">
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
          <div class="about-text">
            <a href="index.html"><img src="assets/img/logo-white.svg" alt="Logo"/></a>
            <p class="mt-14 mb-0">Pellentesque mollis nec orci id tincidunt.</p>
          </div>

          <div class="footer-menu mt-28 mt-xs-18">
            <ul class="nav justify-content-center">
              <li><a href="about.html">About Us</a></li>
              <li><a href="#">Jobs</a></li>
              <li><a href="#">Press</a></li>
              <li><a href="contact.html">contact</a></li>
              <li><a href="blog.html">Blog</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End Footer Top Area -->

  <!-- Start Footer Bottom Area -->
  <div class="footer-bottom-wrapper">
    <div class="container">
      <div class="row">
        <div class="col-8">
          <div class="copyright-text">
            <p>&copy; 2018 <a href="index.html">Veera</a>, All rights reserved.</p>
          </div>
        </div>

        <div class="col-4 my-auto">
          <div class="footer-social-icons nav justify-content-end">
            <a href="#" target="_blank"><i class="fa fa-facebook"></i></a>
            <a href="#" target="_blank"><i class="fa fa-twitter"></i></a>
            <a href="#" target="_blank"><i class="fa fa-pinterest-p"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End Footer Bottom Area -->
</footer>
