<ul ngbNav #nav="ngbNav" class="nav-pills justify-content-center">
  <li ngbNavItem>
    <a class="product-area-nav-text" ngbNavLink>New Items</a>
    <ng-template class="product-area-nav-products" ngbNavContent>
      <div class="products-wrapper">
        <div class="product-category-filter-wrap selected-category grid-five">
          <div class="single-product-wrap new-prod" *ngFor="let product of productList">
            <figure class="product-thumbnail">
              <a href="product" class="d-block"><img class="primary-thumb" src="../../assets/images/products/prod-1-1.jpg" alt="Product"/><img class="secondary-thumb" src="../../assets/images/products/prod-1-2.jpg" alt="Product"/></a>
              <figcaption class="product-hvr-content">
                <a href="#" class="btn btn-black btn-addToCart">Add to Cart</a>
                <span class="product-badge">New</span>
              </figcaption>
            </figure>

            <!-- Product Details -->
            <div class="product-details">
              <h2 class="product-name"><a href="single-product.html">{{product.name}}</a></h2>
              <div class="product-prices">
                <span class="price">AED {{product.price}}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </ng-template>
  </li>
  <li ngbNavItem>
    <a class="product-area-nav-text" ngbNavLink>Best Sellers</a>
    <ng-template ngbNavContent>
      <div class="products-wrapper">
        <div class="product-category-filter-wrap selected-category grid-five">
          <div class="single-product-wrap new-prod">
            <figure class="product-thumbnail">
              <a href="single-product.html" class="d-block"><img class="primary-thumb" src="../../assets/images/products/prod-1-1.jpg" alt="Product"/><img class="secondary-thumb" src="../../assets/images/products/prod-1-2.jpg" alt="Product"/></a>
              <figcaption class="product-hvr-content">
                <a href="#" class="btn btn-black btn-addToCart">Add to Cart</a>
                <span class="product-badge">New</span>
              </figcaption>
            </figure>

            <!-- Product Details -->
            <div class="product-details">
              <h2 class="product-name"><a href="single-product.html">Product Grouped</a></h2>
              <div class="product-prices">
                <del class="oldPrice">$50.00</del>
                <span class="price">$40.00</span>
              </div>
            </div>
          </div>

          <div class="single-product-wrap new-prod">
            <figure class="product-thumbnail">
              <a href="single-product.html" class="d-block"><img class="primary-thumb" src="../../assets/images/products/prod-1-1.jpg" alt="Product"/><img class="secondary-thumb" src="../../assets/images/products/prod-1-2.jpg" alt="Product"/></a>
              <figcaption class="product-hvr-content">
                <a href="#" class="btn btn-black btn-addToCart">Add to Cart</a>
                <span class="product-badge">New</span>
              </figcaption>
            </figure>

            <!-- Product Details -->
            <div class="product-details">
              <h2 class="product-name"><a href="single-product.html">Product Grouped</a></h2>
              <div class="product-prices">
                <del class="oldPrice">$50.00</del>
                <span class="price">$40.00</span>
              </div>
            </div>
          </div>

          <div class="single-product-wrap new-prod">
            <figure class="product-thumbnail">
              <a href="single-product.html" class="d-block"><img class="primary-thumb" src="../../assets/images/products/prod-1-1.jpg" alt="Product"/><img class="secondary-thumb" src="../../assets/images/products/prod-1-2.jpg" alt="Product"/></a>
              <figcaption class="product-hvr-content">
                <a href="#" class="btn btn-black btn-addToCart">Add to Cart</a>
                <span class="product-badge">New</span>
              </figcaption>
            </figure>

            <!-- Product Details -->
            <div class="product-details">
              <h2 class="product-name"><a href="single-product.html">Product Grouped</a></h2>
              <div class="product-prices">
                <del class="oldPrice">$50.00</del>
                <span class="price">$40.00</span>
              </div>
            </div>
          </div>

          <div class="single-product-wrap new-prod">
            <figure class="product-thumbnail">
              <a href="single-product.html" class="d-block"><img class="primary-thumb" src="../../assets/images/products/prod-1-1.jpg" alt="Product"/><img class="secondary-thumb" src="../../assets/images/products/prod-1-2.jpg" alt="Product"/></a>
              <figcaption class="product-hvr-content">
                <a href="#" class="btn btn-black btn-addToCart">Add to Cart</a>
                <span class="product-badge">New</span>
              </figcaption>
            </figure>

            <!-- Product Details -->
            <div class="product-details">
              <h2 class="product-name"><a href="single-product.html">Product Grouped</a></h2>
              <div class="product-prices">
                <del class="oldPrice">$50.00</del>
                <span class="price">$40.00</span>
              </div>
            </div>
          </div>

          <div class="single-product-wrap new-prod">
            <figure class="product-thumbnail">
              <a href="single-product.html" class="d-block"><img class="primary-thumb" src="../../assets/images/products/prod-1-1.jpg" alt="Product"/><img class="secondary-thumb" src="../../assets/images/products/prod-1-2.jpg" alt="Product"/></a>
              <figcaption class="product-hvr-content">
                <a href="#" class="btn btn-black btn-addToCart">Add to Cart</a>
                <span class="product-badge">New</span>
              </figcaption>
            </figure>

            <!-- Product Details -->
            <div class="product-details">
              <h2 class="product-name"><a href="single-product.html">Product Grouped</a></h2>
              <div class="product-prices">
                <del class="oldPrice">$50.00</del>
                <span class="price">$40.00</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </ng-template>
  </li>
</ul>

<div [ngbNavOutlet]="nav" class="mt-2"></div>
